@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

h1 {
  font-family: 'Russo One', monospace, sans-serif;
  font-weight: 800;
  color:  #F6fbfd;
  -webkit-text-stroke: 1px #063164;
}